.about-community-container {
  background: #fff;
  /* border-radius: 10px; */
  padding: 1rem 1.5rem;
  border: 5px solid #FF8473;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
   margin: 0px;
    

}
.about-community-container .title {
  font-weight: 800;
  font-size: 2rem;
}

.about-community-container p{
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
