.community-container {
  margin-top: 0;
  background:#ced4d4b6;
  min-height: 100%;
  width: 100;
  background-attachment: fixed;
  
}

.community-poster h1{
  margin-top: 80px;
  margin-left: 40px;
  position: relative;
  font-size: 60px;
  font-style: italic;
  color: rgb(98, 69, 31);
  -webkit-text-stroke: 0.1vw #786d6d;
  text-transform: uppercase;
 }

.community-container .wrapper {
  max-width: 1500px;
  margin: 10px;
  background-color: rgb(230, 223, 223);
  
}
.community-container .community-poster {
  margin-top: 0px;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  /* background-color: red; */
  background-image: linear-gradient(to right, #a7e4ee, #fb6ae3);;
  
}
.community-container .community-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}
.community-container .community-header {
  position: relative;
  background: #fff;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
  font-style: italic;
}
.community-container .community-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #43347d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.community-container .community-profile-image img {
  width: 35%;
  height: 35%;
  object-fit: contain;
}
.community-container .community-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.community-container .tab-bar {
  background: #bcc6e7;
  margin: 0px 0;
  padding: 10px 20px;
  border: 1px solid rgb(248, 175, 80);

  
}
.community-container .tab-bar span {
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  
}
.active-tab {
  border-bottom: 3px solid #FF8473;
  padding: 2px 10px;
}

.community-container .add-post-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ccc;
  padding: 1rem;
  box-shadow: 0 0 15px -2px #ccc;
  border: 2px solid #3b10e4;
  z-index: 300;
}
.community-container .add-post-button .add-button {
  font-size: 1.3em;
}

/* --- community posts --- */

.community-container .community-body {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.community-container .community-body .left-sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin:40px;
  background: transparent;
  background-image: linear-gradient();
  
  
}
.community-container .community-body .posts  {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  
}

/* model box */

.sharepost-container {
  width: 400px;
  position: relative;
  border-radius: 20px;
  border: 2px dashed rgb(114, 114, 125);
  
}

.sharepost-container .close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  
}
.sharepost-container .wrapper {
  background: white;
  padding: 1rem;
  border-radius: 20px;
  
}
.sharepost-container .wrapper .title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
  
}
.sharepost-container form textarea {
  width: calc(100% - 20px);
  height: 100px;
  padding: 10px;
  resize: none;
  background: rgb(235, 236, 239);
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  
}
.sharepost-container .wrapper .image-preview {
  border: 1px solid #d1a3a3;
  margin-top: 10px;
}
.sharepost-container .wrapper .image-preview img {
  width: 100%;
  object-fit: contain;
}
.sharepost-container form button {
  border: none;
  background: linear-gradient(to left, #64e0e7, #8092e2);
  padding: 10px 15px;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  /* color: #b68b8b; */
}

.sharepost-container form input {
  display: none;
  
}
.sharepost-container .share-buttons label {
  margin-right: 5px;
  background: linear-gradient(to left, #4dd6dd, #a3afe2);
  color: #111;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  
}
.sharepost-container .share-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sharepost-container .upload-button {
  margin: 10px 0;

}

.about-tab {
  display: none;
}

@media screen and (max-width: 400px) {
  .sharepost-container {
    width: 300px;
  }
  .community-container .community-body .posts{
    max-width: 500px;
  }
  .community-container .community-poster h1{
    font-size: small;
  }
}

@media screen and (max-width: 750px) {
  .community-container .community-body .left-sidebar {
    display: none;
  }
  .community-container .community-body {
    justify-content: center;
     font-size: 1rem;
  }
  .community-container .community-body .posts {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 500px;
    margin: 0;
  }
  .about-tab {
    display: inline;
  }
}

